:root {
  --accent-color: #1565d8;
  --primary-color: #183b56;
  --primary-light-color: #5a7184;
  --success-color: #36b37e;

  --font-primary: 'Hanken Grotesk', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}
